
 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300&display=swap');
body{
    font-family: 'Noto Sans Arabic', sans-serif !important;
}

#sidebar-menu ul li{
    font-size: 20px;
}

#sidebar-menu ul li a.waves-effect{
    font-size:  20px !important;
}

#sidebar-menu ul li a.waves-effect .sub-menu{
    font-size: 24px !important;
}

#sidebar-menu ul li .bx{
    font-size: 24px !important;
    margin-left: 5px;
}