{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Tajawal:wght@300&display=swap" rel="stylesheet">
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="{% static 'assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'assets/libs/%40chenfengyuan/datepicker/datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'datepicker/css/persian.datepicker.min.css' %}">
    
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

<!-- <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}"> -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/libs/toastr/build/toastr.min.css' %}">
<!-- Icons Css -->
<link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'assets/css/app-rtl.min.css' %}" id="app-style" type="text/css" />
