<div class="col-lg-3">
    <div class="card">
        <div class="card-body">
            <a href="{% url 'income-annual-report' %}" class="btn btn-primary btn-lg btn-block font-size-20">
                درآمد امسال
                <i class="bx bxs-pie-chart align-middle font-size-24 ml-3"></i>
            </a>
            <button class="btn btn-primary btn-lg btn-block font-size-20">
                درآمد این ماه
                <i class="bx bxs-pie-chart-alt align-middle font-size-24 ml-3"></i>
            </button>
            <button class="btn btn-primary btn-lg btn-block font-size-20">
                درآمد این هفته
                <i class="bx bx-pie-chart-alt align-middle font-size-24 ml-3"></i>
            </button>
            <button class="btn btn-primary btn-lg btn-block font-size-20">
                درآمد امروز
                <i class="bx bx-pie-chart align-middle font-size-24 ml-3"></i>
            </button>
        </div>
    </div>
</div>